name: "test-local"
on: 
  push:
    paths:
      - 'README.md'
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: ./
      env:
        SENDGRID_API_KEY: ${{ secrets.SENDGRID_API_KEY }}
      with:
        fromMailAddress: '${{ secrets.NOTIFY_EMAIL }}'
        toMailAddress: '${{ secrets.NOTIFY_EMAIL }}'
        subjectPrefix: 'ALERT: Push to secure file'
        verbose: false
